body, html {
    --bg-color: rgb(37, 37, 37);
    --font-color: rgb(230, 230, 230);
    --accent-light: rgb(66, 66, 66);
    --accent-hover: rgb(53, 53, 53);
    --accent-dark: rgb(31, 31, 31);
    --redirect-color: rgb(29, 93, 233);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    color: rgb(255,255,255);
    text-align: center;

}

button, input {
    border: 1px solid;
    border-color: var(--accent-dark);
    border-radius: 3px;
    background-color: var(--accent-light);
    color: var(--font-color);
    padding: 5px;
    /* padding-left: 5px;
    padding-right: 5px */
}

button:hover {
    background-color: var(--accent-hover);
}

button:active {
    background-color: var(--accent-dark);
}

input:focus {
    outline: none;   
}

a:link, a:visited, a:active {
    color: var(--redirect-color);
    text-decoration: none;
}